<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="estilo.css">
  	<title>Multiplicar</title>
</head>
<body>
	<form action="multiplicar" method="POST">
		<label> Numero 1</label>
		<input name="num1" type="text" />
		<br />
		<label> Numero 2</label>
		<input name="num2" type="text" />
		<br />
		<input type="submit" value="Multiplicar" />
		
		<p><% if(locals.resultado){%> Valor Total  <%= resultado%> <%}%></p>
	</form>
</body>
</html>